# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-10.15
  strategy:
    matrix:
      osx_64_hdf51.10.6=mpi_mpimpichscalarcomplex:
        CONFIG: osx_64_hdf51.10.6=mpi_mpimpichscalarcomplex
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.10.6=mpi_mpimpichscalarreal:
        CONFIG: osx_64_hdf51.10.6=mpi_mpimpichscalarreal
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.10.6=mpi_mpiopenmpiscalarcomplex:
        CONFIG: osx_64_hdf51.10.6=mpi_mpiopenmpiscalarcomplex
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.10.6=mpi_mpiopenmpiscalarreal:
        CONFIG: osx_64_hdf51.10.6=mpi_mpiopenmpiscalarreal
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.12.1mpimpichscalarcomplex:
        CONFIG: osx_64_hdf51.12.1mpimpichscalarcomplex
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.12.1mpimpichscalarreal:
        CONFIG: osx_64_hdf51.12.1mpimpichscalarreal
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.12.1mpiopenmpiscalarcomplex:
        CONFIG: osx_64_hdf51.12.1mpiopenmpiscalarcomplex
        UPLOAD_PACKAGES: 'True'
      osx_64_hdf51.12.1mpiopenmpiscalarreal:
        CONFIG: osx_64_hdf51.12.1mpiopenmpiscalarreal
        UPLOAD_PACKAGES: 'True'
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)